#container {
	display: flex;
	margin: auto;
	max-width: 880px;
	margin-top: 28px;
}

#topBox {
	max-width: 100%;
	background-color: #f5f5f5;
	height:  50px;
}

input {
	height: 20px;
	font-size: 12px;
	font-family: Palatino;
	margin-left: 70px;
	width: 360px;
	left: 246px;
	position: absolute;
	top: 20px;
}

#leftColumn {
	flex: 1;
}

#login {
	font-size: 25px;
	color: gray;
	margin: 2px;
}

#location, #email, #blog, #html_url {
	margin-bottom: -2%;
}

#rightColumn {
	flex: 3;
	font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
}

.subInfo {
	font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
	font-size: 16px;
	color: #000000;
}


#profilePic {
	width: 230px;
	height: 230px;
	border-radius: 5%;
	/*width: 100%;
	height: 100%*/
}

#listedRepos > li {
	list-style-type: none;
	font-size: 25px;
	color: #4078c0;
	margin-bottom: 8%;
	font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif
}

#gitImage {
	position: absolute;
	left: 275px;
	top: 20px;
}

#name {
	margin-bottom: 0px;
}

@media all and (max-width: 800px) {

  	#container {
    	display: block;
}
} 

	/*#rightColumn{
		margin-top: -480px;
		margin-left: 220px;
	}*/



